/*
I'm so sorry for the delayed submission. 
 I added one-by-one blocks to the HTML and made them as flex. So,
it created problems when I added more content. My header and menu were working fine on the mobile version. However, after adding a banner image, the alignment is giving issues. Later,
I realized that creating one main flex container and adding items would be easier. For menus,
I gave my style. Working with CSS is always challenging for me. A little more practice will help me over time.
*/


:root {
    --darkblue: #1b4965;
    --bodybg: #cae9ff;
    --headerbg: #5fa8d3;
}

body {
    background-color: var(--bodybg);
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial;
    line-height: 1.5;
    color: var(--darkblue);
}

h1 {
    line-height: 1;
    font-size: 38px;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 24px;
}

h3{
    font-size: 20px;
}

header, h1, h2, h3{
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, sans-serif;
}

p{
    margin:0;
    font-size:16px;
}

h1:hover {
    color: #ffffff !important;
}

nav ul li a {
    color: var(--darkblue);
    text-decoration: none;
    padding: 20px 5px;
}

nav ul li a:hover {
    color: #ffffff !important;
}

img {
    height: 15px;
    width: 15px;
    padding-right: 1px;
}

header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    height: 60px;
    background-color: var(--headerbg);
    color: var(--darkblue);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

nav ul li {
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul li:hover{
    /* property name | duration | easing function | delay */
    transition: background 0.04ms ease-in-out .02ms ;
    background: var(--darkblue);
    box-shadow: 0px 4px 4px 0px var(--bodybg);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

main{
    margin-top: 15px;
    margin-bottom: 40;
}

.main-container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.banner{
    /* Downloaded the banner image (free) from the website https: //www.vecteezy.com/free-vector/banner */
    background-image: url("../images/banner.jpeg");
    background-size: cover;
    background-position: center;
    background-blend-mode:normal;
    min-height: 20vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

aside{
    max-width: 30%;
    display: inline-block;
    margin: 25px 0;
}

.content-section{
    max-width: 70%;
    display: inline-block;
    margin: 5px 0;
    align-items:stretch;
}

.content-section address {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.content-section address a{
    justify-content: space-between;
    padding:35px;
    text-align: left;
}

@media screen and (max-width: 980px) {
    header,
    main,
    section,
    footer {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h2 {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    aside {
        max-width: 100%;
        align-self: start;
        padding: 0;
    }

    section {
        max-width: 100%;
        align-self: start;
        margin-left: 2px;
        padding: 0;
        text-align: left;
    } 
}

@media screen and (max-width: 768px) {
    .content-section address a {
        justify-content:flex-start;
        flex-direction: column;
        padding: 0;
        text-align: left;
    }
}

footer{
    text-align: center;
}

