body{
    background-color: #cae9ff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, sans-serif;
    line-height: 1.5;
    color:#1b263b;
}

h1 {
    display: inline-block;
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 0;
}

h1:hover {
    color: #ffffff !important;
}

a {
    color: #1b4965;
    text-decoration: none;
    padding: 20px 5px;
}

a:hover {
    color: #ffffff !important;
}

img {
    height: 15px;
    width: 15px;
    padding-right: 1px;
}

header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    height: 60px;
    background-color: #5fa8d3;
    color: #1b4965;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul li:hover{
    /* property name | duration | easing function | delay */
    transition: background 0.04ms ease-in-out .02ms ;
    background: #1b4965;
    box-shadow: 0px 4px 4px 0px #cae9ff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

@media screen and (max-width: 545px) {
    header,
    main, footer {
        flex-direction: column;
    }
    section {
        padding-right: 0;
    }
}

.section-about-me{
    height: 20%;
    
}


