body{
    background-color: #cae9ff;
    padding: 0;
    margin: 0;
}

a {
    color: #1b4965;
    text-decoration: none;
    padding: 20px 5px;
}

img {
    height: 15px;
    width: 15px;
    padding-right: 1px;
}

a:hover{
    color: #ffffff !important;
    text-decoration: none;
    padding: 20px 5px;
}

.bodyHeader {
    padding: 10px;
    font-family: 'Roboto Slab',Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, sans-serif;
    background-color: #5fa8d3;
    color: #1b4965;
    margin: 0;
    height: 60px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.bodyHeader h1 {
    display: inline-block;
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 0;
}

.bodyHeader h1:hover{
    color: #ffffff !important;
}

.bodyHeader nav {
    float: right;
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, sans-serif; 
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}

.bodyHeader nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.bodyHeader nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.bodyHeader nav ul li:hover{
    /* property name | duration | easing function | delay */
    transition: background 0.04ms ease-in-out .02ms ;
    background: #1b4965;
    box-shadow: 0px 4px 4px 0px #cae9ff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-position: center;
}

@media screen and (max-width: 545px) {
    header,
    main, footer {
        flex-direction: column;
    }
    section {
        padding-right: 0;
    }
}



